<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Викторина{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>