{% extends 'AdminBundle::layout.html.twig' %}

{% form_theme form 'AdminBundle:Form:theme.html.twig' _self %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                {% block panel_title %}
                {% endblock %}
            </div>
        </div>

        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}